$desaturated-cyan: hsl(167, 36%, 54%);
$dark-blue: hsl(205, 41%, 21%);
$grayish-dark-blue: hsl(245, 10%, 22%);
$very-light-gray: hsl(0, 0%, 98%);
$light-gray: hsl(204, 2%, 92%);
$red: hsl(0, 90%, 57%);