@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); // sans-serif
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&display=swap'); //serif

$ibarra: 'Ibarra Real Nova', serif;
$sans: 'Open Sans', sans-serif;

html {
    font-size: 16px;
    font-family: $sans;
}

h1, h2, h3 {
    font-family: $ibarra;
}

h1 {
    font-size: 3.125em;
    font-weight: 700;
    line-height: 1;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.05;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.125;

}

button { 
    font-family: inherit;
    text-transform: uppercase;
}

@mixin medium-font {
    font-size: 1em;
    line-height: 1.875;
}

@mixin small-font {
    font-size: 0.9375;
    line-height: 2;
}